/* .p1  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 29px;
    text-align: center;
    color:rgb(255,247,0);
}
.icon1  {
    width: 296px;
    height: 285px;
    background:black;
    border-radius: 17px;
    align-items: center;
    justify-content: center;
    display: flex;
} */

.main   {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

img {
    display: flex;  
    height: 200px;
    width: 300px;
}
.p1 {
    width: 100px;
    font-size: 40px;
}
